* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color:#01411C; /* Blue background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: rgba(1, 65, 28, 0.5); /* Transparent blue overlay */
    padding: 40px;
    border-radius: 10px;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5em;
    margin: 10px 0;
}

.dynamic-message {
    margin: 20px 0;
    font-size: 2em;
}

#unique-message {
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Fade-out and fade-in effects */
.fade {
    opacity: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background: #28a745; /* Button color */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #218838; /* Darker shade on hover */
}
